<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GhostGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GhostGUI.Properties.Settings>
            <setting name="MountInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MountDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ManualControl" serializeAs="String">
                <value>True</value>
            </setting>
        </GhostGUI.Properties.Settings>
    </userSettings>
</configuration>